.sub-menu {
  overflow: auto;
  padding: 25px 30px;
  width: calc(60% - 55px);
  background-color: #fff;
  position: fixed;
  z-index: 999;

  h1 {
    float: left;
  }

  button {
    float: right;
  }
}