@import './../../../assets/theme/variaveis.scss';

.card-tarefa {
  padding: 15px 20px;
  width: 100%;
  height: 80px;
  border-radius: 10px;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, .1);
  position: relative;

  .tarefa {
    float: left;
    line-height: 25px;

    .titulo {
      font-weight: 600;
    }

    .info {
      .info-detalhe {
        span {
          margin-right: 20px;
          font-size: 13px;
          color: #aaa;
        }

        .preco {
          color: $azul_padrao;
          font-style: italic;
          font-weight: 500;
        }
      }
    }
  }

  .integrantes {
    top: 0;
    bottom: 0;
    right: 20px;
    height: 30px;
    margin: auto;
    position: absolute;

    img {
      width: 30px;
      height: 30px;
      border-radius: 100%;
      margin-left: 10px;
    }
  }
}