<div class="card-tarefa">
  <div class="tarefa">
    <div class="titulo">
      Implementar tela de login do SquadFy
    </div>
    <div class="info">
      <div class="info-detalhe">
        <span class="preco">R$ 2000,00</span>
        <span>6 Habilidades</span>
      </div>
    </div>
  </div>
  <div class="integrantes">
    <img src="assets/imgs/1.jpg" alt="">
  </div>
</div>