<div class="card-projeto">
  <div class="topo">
    <img src="assets/imgs/logoTeste.jpg" alt="">
    Projeto Oxyma
  </div>
  <div class="info">
    <label for="">10 Tarefas</label>
    <label for="">5 Funcionários</label>
  </div>
</div>