@import '../../../assets/theme/variaveis.scss';

.card-projeto {
  padding: 15px 20px;
  width: 250px;
  height: 90px;
  border-radius: 10px;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, .1);

  .topo {
    overflow: auto;
    font-size: 17px;
    font-weight: 600;
    line-height: 30px;

    img {
      width: 30px;
      height: 30px;
      margin-right: 10px;
      float: left;
      border-radius: 100%;
    }
  }

  .info {
    margin-top: 10px;
    font-size: 13px;

    label {
      color: #A5A5A5;
      margin-right: 10px;
    }
  }

  &.active {
    background-color: $azul_padrao;

    .topo {
      color: #fff;
    }
  
    .info {
  
      label {
        color: #fff;
      }
    }
  }
}