@import './../../../assets/theme/variaveis.scss';

.adicionar-tarefa-wrapper {
  width: 100%;
  height: 100%;
  position: absolute;
  background: #fff;
  z-index: 999;

  section {
    padding-top: 86px;
  }

  .sub-menu {
    overflow: auto;
    padding: 25px 30px;
    width: calc(100% - 90px);
    background-color: #fff;
    position: fixed;
    z-index: 999;
  
    h1 {
      float: left;
    }
  
    button {
      float: right;
      margin: 0;
    }
  }
  
  .dados-tarefa, .habilidades-necessarias {
    color: $azul_padrao;
    padding: 20px 50px;
    float: left;

    .title {
      margin-bottom: 20px;
    }
  }
  .dados-tarefa {
    input {
      margin-bottom: 45px;
    }
  }
}

@keyframes anima_tela {
  from {
    opacity: 0;
    transform: translateY(100%)
  }
  to {
    opacity: 1;
    transform: translateY(0%)
  }
}