<div class="adicionar-tarefa-wrapper">
    <div class="sub-menu">
      <h1>Adicionar tarefa</h1>
      <button class="confirmar" (click)="AdicionarTarefa()">Adicionar tarefa</button>
    </div>
    <section>
      <form action="">
        <div class="dados-tarefa">
          <div class="title">
            <h4>Dados da tarefa</h4>
          </div>
          <div class="campos">
            <input type="text" placeholder="Nome da tarefa" />
            <textarea placeholder="Descrição" rows="10"></textarea>
          </div>
        </div>
        <div class="habilidades-necessarias">
          <div class="title">
            <h4>Habilidades necessárias</h4>
          </div>
          <div class="campos">
            <select type="text">
              <option value="-1">Habilidade</option>
              <option value="1">HTML</option>
              <option value="2">CSS</option>
              <option value="3">JavaScript</option>
            </select>
          </div>
        </div>
      </form>
    </section>
  </div>