<div class="equipe-alocar">
  <div class="info"></div>
  <div>
    <ul>
      <li>
        <img src="" alt="">
        <div>
          nome
          <span>cargo</span>
        </div>
        <div>habilidade</div>
      </li>
    </ul>
  </div>
</div>