.grupo-habilidades {
  overflow: auto;

  .label {
    margin-bottom: 10px;

    label {
      font-size: 12px;
      color: #CCCCCC;
      font-weight: 600;
    }
  }

  .habilidade-chip {
    padding: 0 15px;
    height: 27px;
    line-height: 27px;
    border: 1px solid #eee;
    border-radius: 100px;
    float: left;
    font-size: 12px;
    margin-right: 10px;
  }
}