<div class="grupo-habilidades">
  <div class="label">
    <label for="">Habilidades necessárias</label>
  </div>
  <div class="habilidade-chip" *ngFor="let habilidade of habilidades">
    {{habilidade}}
  </div>
</div>