@import './../../../assets/theme/variaveis.scss';

.detalhes {
  .foto {
    margin-bottom: 30px;
    
    img {
      width: 60px;
      height: 60px;
      border-radius: 100%;
    }
  }

  .titulo {
    color: #000;
    font-weight: 600;
    font-size: 20px;
    margin-bottom: 25px;
  }
  .criacao {
    color: #ccc;
    font-size: 12px;
    margin-bottom: 25px;
  }
  .descricao {
    color: #000;
    font-size: 15px;
    margin-bottom: 25px;
  }
  .habilidades {
    margin-bottom: 25px;
  }
  .membros {
    margin-bottom: 25px;
  }
  .conclusao {
    font-size: 12px;
    font-weight: 600;

    span {
      font-size: 20px;
      color: $azul_padrao;
      font-style: italic;
    }
  }

  .campos {
    margin: 0;
  }

  .footer {
    padding: 15px 0px;
    position: absolute;
    bottom: 0;
  }
}