<div class="detalhes">
  <div *ngIf="detalhesFuncionario">
    <div class="foto">
      <img src="/assets/imgs/1.jpg" alt="">
    </div>
    <div class="titulo">{{detalhesFuncionario.nome}}</div>
    <div class="campos">
      <input type="text" value="Dev Front-end" />
      <input type="text" value="5 projetos simultâneos"/>
    </div>
    <div class="habilidades">
      <div class="campos">
        <select type="text">
          <option value="-1">Habilidade</option>
          <option value="1">HTML</option>
          <option value="2">CSS</option>
          <option value="3">JavaScript</option>
        </select>
      </div>
      <habilidades [habilidades]="[]"></habilidades>
    </div>
    <div class="footer">
      <button class="confirmar">Salvar</button>
      <button class="second">Editar</button>
    </div>
  </div>
</div>