<div class="adicionat-projeto-wrapper">
  <div class="sub-menu">
    <h1>Adicionar projeto</h1>
    <button class="confirmar" (click)="AdicionarProjeto()">Adicionar projeto</button>
  </div>
  <section>
    <form action="">
      <div class="dados-projeto">
        <div class="title">
          <h4>Dados do projeto</h4>
        </div>
        <div class="campos">
          <input type="text" placeholder="Nome do projeto" />
          <textarea placeholder="Descrição" rows="10"></textarea>
        </div>
      </div>
      <div class="habilidades-necessarias">
        <div class="title">
          <h4>Habilidades necessárias</h4>
        </div>
        <div class="campos">
          <select type="text">
            <option value="-1">Habilidade</option>
            <option value="1">HTML</option>
            <option value="2">CSS</option>
            <option value="3">JavaScript</option>
          </select>
        </div>
      </div>
    </form>
  </section>
</div>