<div class="adicionar-tarefa-wrapper">
    <div class="sub-menu">
      <h1>Adicionar tarefa</h1>
      <button class="confirmar" (click)="AdicionarFuncionario()">Adicionar funcionário</button>
    </div>
    <section>
      <form action="" [formGroup]="funcionarioGroup">
        <div class="adicionar-foto">
          <div class="title">
            <h4>Foto</h4>
          </div>
          <div class="campos">
            <button class="second" (click)="AdicionarFuncionario()">Adicionar foto</button>
          </div>
        </div>
        <div class="dados-funcionario">
          <div class="title">
            <h4>Dados do funcionário</h4>
          </div>
          <div class="campos">
            <input type="text" placeholder="Nome" formControlName="nome" />
            <input type="email" placeholder="Email" formControlName="login" />
            <input type="password" placeholder="Senha" formControlName="senha" />
            <input type="text" placeholder="Salário" formControlName="salario" />
            <input type="text" placeholder="Quantidade de projetos simultâneos" />
          </div>
        </div>
        <div class="habilidades-necessarias">
          <div class="title">
            <h4>Habilidades necessárias</h4>
          </div>
          <div class="campos">
            <select type="text">
              <option value="-1">Habilidade</option>
              <option value="1">HTML</option>
              <option value="2">CSS</option>
              <option value="3">JavaScript</option>
            </select>
          </div>
        </div>
      </form>
    </section>
  </div>