@import './../../../assets/theme/variaveis.scss';

.wrapper-menu {
  width: 90px;
  height: 100%;
  position: absolute;
}

.wrapper-body {
  left: 90px;
  width: calc(100% - 90px);
  height: 100%;
  position: absolute;
}