<div class="listas">
  <div class="wrapper-sub-menu">
    <div class="sub-menu">
      <h1>Funcionários</h1>
      <button (click)="AdicionarFuncionario()">Novo funcionário</button>
    </div>
  </div>
  <div class="wrapper-content">
    <card-funcionario *ngFor="let funcionario of listaFuncionario" [funcionario]="funcionario" (AbrirDetalhesFuncionario)="AbrirDetalhes($event)"></card-funcionario>
  </div>
</div>
<div class="detalhes">
  <detalhes-funcionario [detalhesFuncionario]="detalhes"></detalhes-funcionario>
</div>
<router-outlet></router-outlet>