.listas {
  width: 60%;
  height: 100%;
  position: relative;
  float: left;

  .sub-menu {
    overflow: auto;
    padding: 25px 30px;
    width: calc(60% - 55px);
    background-color: #fff;
    position: fixed;
    z-index: 999;
  
    h1 {
      float: left;
    }
  
    button {
      float: right;
    }
  }

  .wrapper-content {
    padding: 86px 30px 30px 30px;
    width: 100%;
    height: 100%;
    overflow: auto;
    position: relative;
  }
}

.detalhes {
  padding: 50px 65px;
  width: 40%;
  height: 100%;
  position: relative;
  float: left;
  background: #F9F9F9;
}