<div class="wrapper-login">
  <section class="imagem-apresentacao">
    <img class="squad1" src="./../../../assets/imgs/squad1.svg" alt="">
    <img class="squad2" src="./../../../assets/imgs/squad2.svg" alt="">
    <img class="squad3" src="./../../../assets/imgs/squad3.svg" alt="">
    <div class="logo-wrapper">
      <div>
        <img class="logo" src="./../../../assets/imgs/logo.svg" alt="">
      </div>
      <div>
        <img class="logo" src="./../../../assets/imgs/nome.svg" alt="">
      </div>
      <div class="mensagem">
        Aliquam pulvinar mollis fringilla. Quisque eu justo nibh. Aliquam sit amet dolor nulla. Quisque tincidunt.
      </div>
    </div>
  </section>
  <section id="area-login" class="area-login">
    <div class="loading-logar">LOADING...</div>
    <div class="wrapper-logar">
      <div class="bemvindo">
        <h1>Entrar no <span>SquadFy</span></h1>
        Bem vindo! <br>
        Faça login para continuar
      </div>
      <div class="entrar-com-google">
        <img class="logo" src="./../../../assets/imgs/google.svg" alt="">
        <div>
          Entrar com o google
        </div>
      </div>
      <div class="campos">
        <form action="" [formGroup]="loginGroup">
          <div>
            <input type="text" placeholder="Usuário" formControlName="user">
            <input type="password" placeholder="Senha" formControlName="password">
          </div>
        </form>
        <div class="acoes1">
            <label class="container">Continuar logado
              <input type="checkbox">
              <span class="checkmark"></span>
            </label>
          <a href="#">Esqueci minha senha</a>
        </div>
      </div>
      <div class="botoes">
        <button (click)="Logar()">Entrar</button>
        <button class="second">É novo aqui?</button>
      </div>
    </div>
  </section>
</div>
