@import './../../../assets/theme/variaveis.scss';

.wrapper-login {
  width: 100%;
  height: 100%;
  position: absolute;

  .imagem-apresentacao {
    width: 60%;
    height: 100%;
    float: left;
    background-color: $azul_escuro;
    position: absolute;
    overflow: hidden;

    .logo-wrapper {
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      margin: auto;
      width: 350px;
      height: 275.14px;
      position: absolute;
      text-align: center;
      color: #fff;

      .mensagem {
        font-size: 14px;
        margin-top: 10px;
      }
    }

    .squad1 {
      opacity: 0;
      top: -30px;
      left: 20px;
      position: absolute;
      animation: animacao-squad1 2s cubic-bezier(0, 0, 0.09, 1) 1s forwards;
    }
    .squad2 {
      opacity: 0;
      top: -10px;
      right: -20px;
      position: absolute;
      animation: animacao-squad2 2s cubic-bezier(0, 0, 0.09, 1) 1s forwards;
    }
    .squad3 {
      opacity: 0;
      left: 0px;
      bottom: -20px;
      position: absolute;
      animation: animacao-squad3 2s cubic-bezier(0, 0, 0.09, 1) 1s forwards;
    }
  }
  
  .area-login {
    width: 40%;
    height: 100%;
    right: 0;
    position: absolute;
    background-color: #fff;

    .wrapper-logar {
      width: 400px;
      height: 500px;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      margin: auto;
      position: absolute;  
      // background: #00a;
      opacity: 1;

      .bemvindo {
        font-size: 15px;
        margin-bottom: 30px;
        color: #666666;

        h1 {
          font-size: 25px;
          margin-bottom: 30px;
          color: #666666;
  
          span {
            color: $azul_padrao;
          }
        }
      }

      .entrar-com-google {
        padding: 15px 0;
        border-top: 1px solid #eee;
        border-bottom: 1px solid #eee;
        line-height: 30px;
        margin-bottom: 30px;

        img {
          margin-top: 5px;
          position: absolute;
        }

        div {
          padding-left: 35px;
        }
      }
    }

    .acoes1 {
      overflow: auto;
      font-size: 13px;

      label {
        float: left;
      }

      a {
        float: right;
        text-decoration: none;
        color: $azul_padrao;
      }
    }

    .loading-logar {
      width: 100px;
      height: 30px;
      line-height: 30px;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      margin: auto;
      position: absolute;  
      opacity: 0;
      font-weight: 600;
      font-style: italic;
      color: $azul_padrao;
    }
  }

  .logar {
    animation: logar .5s cubic-bezier(0.42, 0, 0.21, 1) forwards;

    .wrapper-logar {
      animation: wrapper-logar .5s cubic-bezier(0.42, 0, 0.21, 1) forwards;
    }

    .loading-logar {
      animation: loading-logar .5s cubic-bezier(0.42, 0, 0.21, 1) .5s forwards;
    }
  }
}

@keyframes animacao-squad1 {
  from {
    opacity: 0;
    top: -150px;
    left: 100px;
  }
  to {
    opacity: 1;
    top: -30px;
    left: 0px;
  }
}

@keyframes animacao-squad2 {
  from {
    opacity: 0;
    top: 150px;
    right: -150px;
  }
  to {
    opacity: 1;
    top: -10px;
    right: -20px;
  }
}

@keyframes animacao-squad3 {
  from {
    opacity: 0;
    left: -200px;
    bottom: -40px;
  }
  to {
    opacity: 1;
    left: 0px;
    bottom: -20px;
  }
}

@keyframes logar {
  from {
    width: 40%;
  }
  to {
    width: 100%;
  }
}

@keyframes wrapper-logar {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@keyframes loading-logar {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* The container */
.container {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 13px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default checkbox */
.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 20px;
  width: 20px;
  background-color: #fff;
  border: 1px solid #eee;
  border-radius: 2px;
}

/* When the checkbox is checked, add a blue background */
.container input:checked ~ .checkmark {
  background-color: $azul_padrao;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.container input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.container .checkmark:after {
  left: 6px;
  top: 2px;
  width: 4px;
  height: 7px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

