@import './variaveis.scss';

button {
  margin-right: 10px;
  padding: 10px 25px;
  outline: none;
  background-color: $azul_padrao;
  border: none;
  color: #fff;
  font-weight: 600;
  cursor: pointer;

  &.confirmar {
    background-color: #7CAB83;
    color: #fff;
  }

  &.second {
    border: 1px solid #ccc;
    background-color: transparent;
    color: #000;
  }
}