@import './variaveis.scss';

.campos {
  margin-bottom: 30px;

  input[type="text"], input[type="password"], input[type="email"], textarea, select {
    padding: 15px;
    outline: none;
    width: 100%;
    height: 50px;
    border: 1px solid #eee;
    border-left: 5px solid #eee;
    margin-bottom: 20px;
    transition: 0.2s ease-out;
    font-size: 16px;
    font-weight: 500;

    &:focus {
      border-left: 5px solid $azul_padrao; 
    }
  }

  textarea {
    height: auto;
    resize: none;
  }
}