@font-face {
  font-family: 'squadfy';
  src: url('/assets/fonts/Lato-Thin.ttf') format('truetype');
  font-weight: 300;
}

@font-face {
  font-family: 'squadfy';
  src: url('/assets/fonts/Lato-Regular.ttf') format('truetype');
  font-weight: 400;
}

@font-face {
  font-family: 'squadfy';
  src: url('/assets/fonts/Lato-Bold.ttf') format('truetype');
  font-weight: 500;
}

@font-face {
  font-family: 'squadfy';
  src: url('/assets/fonts/Lato-Black.ttf') format('truetype');
  font-weight: 600;
}