@font-face {
  font-family: 'icomoon';
  src:  url('/assets/fonts/icons/icomoon.eot');
  src:  url('/assets/fonts/icons/icomoon.eot?5y79yp#iefix') format('embedded-opentype'),
    url('/assets/fonts/icons/icomoon.ttf?5y79yp') format('truetype'),
    url('/assets/fonts/icons/icomoon.woff?5y79yp') format('woff'),
    url('/assets/fonts/icons/icomoon.svg?5y79yp#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-casa:before {
  content: "\e900";
}
.icon-funcionarios:before {
  content: "\e901";
}
