<div class="grupo-habilidades">
  <div class="label">
    <label for="">Membros</label>
  </div>
  <div class="membros-thumb" *ngFor="let membro of membros">
    <img src="assets/imgs/{{membro}}.jpg" alt="">
  </div>
</div>