.grupo-habilidades {
  overflow: auto;

  .label {
    margin-bottom: 10px;

    label {
      font-size: 12px;
      color: #CCCCCC;
      font-weight: 600;
    }
  }

  .membros-thumb {
    img {
      width: 35px;
      height: 35px;
      border-radius: 100%;
      float: left;
      margin-right: 10px;
    }
  }
}