@import './../../../assets/theme/variaveis.scss';

.card-funcionario {
  padding: 15px 0;
  border-bottom: 1px solid #EEEEEE;
  cursor: pointer;

  .info-principal {
    line-height: 40px;
    overflow: auto;

    .foto {
      float: left;
      margin-right: 20px;

      img {
        width: 40px;
        height: 40px;
        border-radius: 100%;
      }
    }

    .nome {
      float: left;
      font-size: 15px;
      font-weight: 500;
    }

    .cargo {
      float: right;
      font-size: 13px;
      font-weight: 400;
      color: #666;
    }
  }

  .habilidades {
    padding-left: 60px;
    font-size: 13px;
    font-weight: 400;
    color: $azul_padrao;
    font-style: italic;
  }
}