<div class="card-funcionario" (click)="AbrirDetalhes()">
  <div class="info-principal">
    <div class="foto">
      <img src="/assets/imgs/1.jpg" alt="">
    </div>
    <div class="nome">{{funcionario.nome}}</div>
    <div class="cargo">Cargo - Adicionar na API</div>
  </div>
  <div class="habilidades">
    <span *ngFor="let habilidades of listaHabilidades">{{habilidades}}</span>
  </div>
</div>