<div class="detalhes">
  <div class="titulo">{{detalhesTarefa.Nome}}</div>
  <div class="criacao">Criada em {{detalhesTarefa.DataCriacao}}</div>
  <div class="descricao">{{detalhesTarefa.Descricao}}</div>
  <div class="habilidades">
    <habilidades [habilidades]="detalhesTarefa.Habilidades"></habilidades>
  </div>
  <div class="membros">
    <membros [membros]="detalhesTarefa.Membros"></membros>
  </div>
  <div class="conclusao">
    Melhor alocação de recursos encontrada, com custo <br>
    <span>R$ {{detalhesTarefa.Custo}}</span>
  </div>
  <div class="footer">
    <button class="confirmar">Finalizar tarefa</button>
    <button class="second">Editar</button>
  </div>
</div>