@import './../../../assets/theme/variaveis.scss';

.detalhes {
  .titulo {
    color: #000;
    font-weight: 600;
    font-size: 20px;
    margin-bottom: 25px;
  }
  .criacao {
    color: #ccc;
    font-size: 12px;
    margin-bottom: 25px;
  }
  .descricao {
    color: #000;
    font-size: 15px;
    margin-bottom: 25px;
  }
  .habilidades {
    margin-bottom: 25px;
  }
  .membros {
    margin-bottom: 25px;
  }
  .conclusao {
    font-size: 12px;
    font-weight: 600;

    span {
      font-size: 20px;
      color: $azul_padrao;
      font-style: italic;
    }
  }

  .footer {
    padding: 15px 0px;
    position: absolute;
    bottom: 0;
  }
}