/* You can add global styles to this file, and also import other style files */
@import './assets/theme/fonts.scss';
@import './assets/theme/buttons.scss';
@import './assets/theme/icons.scss';
@import './assets/theme/campos.scss';

* {
  margin: 0;
  padding: 0;
  font-family: 'squadfy';
  box-sizing: border-box;
}