@import './../../../assets/theme/variaveis.scss';

.listas {
  width: 60%;
  height: 100%;
  position: relative;
  float: left;

  .wrapper-sub-menu {
    width: 100%;
    position: relative;
  }

  .wrapper-content {
    padding: 86px 30px 30px 30px;
    width: 100%;
    height: 100%;
    overflow: auto;
    position: relative;

    .wrapper-projetos {
      width: 100%;
      height: 90px;

      card-projeto {
        float: left;
        margin-right: 20px;
      }
    }

    .wrapper-tarefas {
      margin: 30px 0px;
      width: 100%;

      card-tarefa {
        margin-bottom: 20px;
      }

      .add-tarefa {
        width: 100%;
        height: 50px;
        border: 1px dashed #ccc;
        background-color: transparent;
        color: #000;
        margin-bottom: 20px;
      }
    }
  }
}

.detalhes {
  padding: 50px 65px;
  width: 40%;
  height: 100%;
  position: relative;
  float: left;
  background: #F9F9F9;
}