<div class="listas">
  <div class="wrapper-sub-menu">
    <sub-menu [titulo]="'Projetos'"></sub-menu>
  </div>
  <div class="wrapper-content">
    <div class="wrapper-projetos">
      <card-projeto></card-projeto>
    </div>
    <div class="wrapper-tarefas">
      <button class="add-tarefa" (click)="AdicionarTarefa()">Nova tarefa</button>
      <card-tarefa></card-tarefa>
    </div>
  </div>
</div>
<div class="detalhes">
  <detalhes-tarefa [detalhesTarefa]="detalhesTarefa"></detalhes-tarefa>
</div>
<router-outlet></router-outlet>