<div class="menu">
  <div class="wrapper-logo">
    <div class="logo">
      <img src="assets/imgs/logo_a.svg" alt="">
    </div>
  </div>
  <div class="wrapper-links">
    <ul>
      <li id="1" class="active" (click)="Navigate('/tabs/dashboard', 1)"><span class="icon-casa"></span></li>
      <li id="2" class="" (click)="Navigate('/tabs/lista-funcionarios', 2)"><span class="icon-funcionarios"></span></li>
    </ul>
  </div>
  <div class="wrapper-user">
    <div class="user">
      <img src="/assets/imgs/1.jpg" alt="">
    </div>
  </div>
</div>