@import './../../../assets/theme/variaveis.scss';

.menu {
  width: 90px;
  height: 100%;
  position: absolute;
  background-color: #fff;
  border-right: 1px solid #eee;

  .wrapper-logo {
    top: 0;
    position: absolute;
    width: 90px;
    height: 90px;

    .logo {
      margin: 20px;
      padding: 6.19px 0;
      width: 50px;
      height: 50px; 
      text-align: center;
      box-shadow: 3px 3px 15px rgba(0, 0, 0, .1);
      border-radius: 20px;

      img {
        width: 25px;
      }
    }
  }

  .wrapper-user {
    position: absolute;
    bottom: 0;
    width: 90px;
    height: 90px;

    .user {
      margin: 25px;
      width: 40px;
      height: 40px; 
      box-shadow: 3px 3px 15px rgba(0, 0, 0, .1);
      border-radius: 100%;
      overflow: hidden;

      img {
        width: 100%;
      }
    }
  }

  .wrapper-links {
    top: 90px;
    bottom: 90px;
    width: 90px;
    position: absolute;

    ul {
      margin: 0;
      padding: 0;
      height: 150px;
      margin: auto;
      top: 0;
      bottom: 0;
      position: absolute;

      li {
        width: 90px;
        height: 75px;
        line-height: 75px;
        text-align: center;
        border-left: 5px solid #fff;
        color: #aaa;

        &.active {
          border-left: 5px solid $azul_padrao;
          color: $azul_padrao;
        }
      }
    }
  }
}